In [ ]:
import sqlite3
conn = sqlite3.connect(':memory:')  
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    unit_price REAL NOT NULL
)
''')
products = [
    (1, 'Apple', 2.5),
    (2, 'Banana', 3.0),
    (3, 'Cherry', 6.5),
    (4, 'Date', 7.0),
    (5, 'Eggplant', 4.5),
    (6, 'Fig', 3.5)
]
cursor.executemany('INSERT INTO products VALUES (?, ?, ?)', products)
query = '''
SELECT product_name
FROM products
WHERE unit_price >= 3 AND unit_price < 7
'''
cursor.execute(query)
results = cursor.fetchall()
print("Продукты с ценой от 3 до 7 (не включая крайние числа):")
for row in results:
    print(row[0])
conn.close()

Продукты с ценой от 3 до 7 (не включая крайние числа):
Banana
Cherry
Eggplant
Fig

In [ ]:
import sqlite3
conn = sqlite3.connect(':memory:') 
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    unit_price REAL NOT NULL,
    category_id INTEGER NOT NULL
)
''')
products = [
    (1, 'Apple', 2.5, 1),
    (2, 'Banana', 3.0, 1),
    (3, 'Cherry', 6.5, 2),
    (4, 'Date', 7.0, 2),
    (5, 'Eggplant', 4.5, 1),
    (6, 'Fig', 3.5, 1)
]
cursor.executemany('INSERT INTO products VALUES (?, ?, ?, ?)', products)
query = '''
SELECT MIN(unit_price) AS min_price
FROM products
WHERE category_id = 1
'''
cursor.execute(query)
result = cursor.fetchone()
print(f"Минимальная цена товара в категории 1: {result[0]}")
conn.close()

Минимальная цена товара в категории 1: 2.5

In [ ]:
import sqlite3
conn = sqlite3.connect(':memory:')  
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    unit_price REAL NOT NULL,
    supplier_id INTEGER NOT NULL
)
''')
products = [
    (1, 'Apple', 2.5, 1),
    (2, 'Banana', 3.0, 3),
    (3, 'Cherry', 6.5, 5),
    (4, 'Date', 7.0, 1),
    (5, 'Eggplant', 4.5, 3),
    (6, 'Fig', 3.5, 5),
    (7, 'Grape', 5.0, 2)
]
cursor.executemany('INSERT INTO products VALUES (?, ?, ?, ?)', products)
query = '''
SELECT supplier_id, MAX(unit_price) AS max_price
FROM products
WHERE supplier_id IN (1, 3, 5)
GROUP BY supplier_id
ORDER BY supplier_id
'''
cursor.execute(query)
results = cursor.fetchall()
print("Результаты:")
print("Supplier ID | Max Price")
for row in results:
    print(f"{row[0]:<11} | {row[1]:.2f}")
conn.close()

Результаты:
Supplier ID | Max Price
1           | 7.00
3           | 4.50
5           | 6.50